
/* =============================================================================
   webfonts
   ========================================================================== */


@font-face {
    font-family: 'Chalet';
    src: url('/fonts/chalet1960/chalet-parisnineteensixty.eot');
    src: url('/fonts/chalet1960/chalet-parisnineteensixty.eot?#iefix') format('embedded-opentype'),
         url('/fonts/chalet1960/chalet-parisnineteensixty.woff') format('woff'),
         url('/fonts/chalet1960/chalet-parisnineteensixty.ttf') format('truetype'),
         url('/fonts/chalet1960/chalet-parisnineteensixty.svg#ChaletParisNineteenSixtyRg') format('svg');
    font-weight: 200;
    font-style: normal;

}
@media screen and (-webkit-min-device-pixel-ratio:0) 
{
	@font-face {
	font-family: 'Chalet';
	src: url('/fonts/chalet1960/chalet-parisnineteensixty.svg#ChaletParisNineteenSixtyRg') format('svg');
    font-weight: 200;
    font-style: normal;
	}
}






@font-face {
    font-family: 'Chalet';
    src: url('/fonts/chalet1960/chalet-londonnineteensixty.eot');
    src: url('/fonts/chalet1960/chalet-londonnineteensixty.eot?#iefix') format('embedded-opentype'),
         url('/fonts/chalet1960/chalet-londonnineteensixty.woff') format('woff'),
         url('/fonts/chalet1960/chalet-londonnineteensixty.ttf') format('truetype'),
         url('/fonts/chalet1960/chalet-londonnineteensixty.svg#ChaletRegular') format('svg');
    font-weight: 300;
    font-style: normal;

}
@media screen and (-webkit-min-device-pixel-ratio:0) 
{
	@font-face {
	font-family: 'Chalet';
	src: url('/fonts/chalet1960/chalet-londonnineteensixty.svg#ChaletRegular') format('svg');
    font-weight: 300;
    font-style: normal;
	}
}






@font-face {
    font-family: 'Chalet';
    src: url('/fonts/chalet1960/chalet-newyorknineteensixty.eot');
    src: url('/fonts/chalet1960/chalet-newyorknineteensixty.eot?#iefix') format('embedded-opentype'),
         url('/fonts/chalet1960/chalet-newyorknineteensixty.woff') format('woff'),
         url('/fonts/chalet1960/chalet-newyorknineteensixty.ttf') format('truetype'),
         url('/fonts/chalet1960/chalet-newyorknineteensixty.svg#ChaletRegular') format('svg');
    font-weight: 700;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) 
{
	@font-face {
	font-family: 'ProximaNova';
	src: url('/fonts/chalet1960/chalet-newyorknineteensixty.svg#ChaletRegular') format('svg');
	font-weight: 700;
    font-style: normal;
	}
}


