/* setup & defaults */
:root {
    --cHero1: rgba(22, 22, 22, 1); /*  soft black #222222 */
    --cHero2: rgba(255, 0, 0, 1); /*  red #ff0000 */
    --cHero3: rgba(255, 255, 255, 1); /*  soft black #222222 */
    --heroTypeface: 'Chalet';
    --subTypeface: 'sf';
}
body {
    --testNight: rgba(22, 22, 22, 1);
    --colorGradient: 255, 255, 255;
    background-color: rgba(255, 255, 255, 1);
}
body.nightTheme {
    --testNight: rgba(255, 255, 255, 0.8);
    --colorGradient: 33, 33, 33;
    background-color: rgba(33, 33, 33, 1);
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-weight: 300;
    color: var(--testNight);
}
picture,
img {
    width: 100%;
    height: auto;
    display: block;
}
picture {
    margin-bottom: 2em;
}
hr {
    width: 100%;
    border: none;
    border-bottom: 3px solid var(--testNight);
    margin-top: 2em;
    margin-bottom: 2.5em;
}
hr.minor {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--testNight);
    margin-top: 2em;
    margin-bottom: 2.5em;
}
main {
    z-index: 5000;
}
#dna {
    z-index: 2500;
}
#bggradient {
    z-index: 2000;
}
#map {
    z-index: 1000;
}
.filterGrey {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

/* typography */
h1,
h2,
h3,
h4 {
    font-family: var(--heroTypeface);
}
h1,
h2 {
    font-weight: 700;
    max-width: 95%;
}
h1 {
    font-weight: 200;
}
h1 span,
h2 span {
    font-weight: 200;
}
h3,
h4,
h5,
h6 {
    font-weight: 200;
    max-width: 90%;
}
h3 span,
h4 span,
h5 span,
h6 span {
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
    line-height: 1.3em;
    margin: 0;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 4.2em;
    letter-spacing: -0.03em;
    line-height: 1.1em;
}

h2 {
    font-size: 2.7em;
    letter-spacing: -0.02em;
    line-height: 1.1em;
}

h3 {
    font-size: 2.1em;
    letter-spacing: -0.01em;
}

h4 {
    font-size: 1.7em;
    letter-spacing: -0.01em;
}

h5 {
    font-size: 1.6em;
    letter-spacing: -0.02em;
}
h6 {
    font-size: 1.5em;
    letter-spacing: -0.02em;
}
p,
li,
label {
    font-size: 1.2em;
    line-height: 1.7em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    max-width: 95%;
}
.small {
    font-size: 90%;
}
strong {
    font-weight: 700;
}
.activeLink {
    font-weight: 700;
    color: rgba(255, 0, 0, 1) !important;
}

@media screen and (max-width: 600px) {
    html,
    body {
        font-size: 16px;
    }
}

@media screen and (min-width: 600px) {
    html,
    body {
        font-size: 14px;
    }
}

@media screen and (min-width: 1000px) {
    html,
    body {
        font-size: 13px;
    }
}

@media screen and (min-width: 1300px) {
    html,
    body {
        font-size: 13px;
    }
}

main {
    position: absolute;
    width: 80%;
    top: 0;
    left: 0;
    padding: 10vh 10% 5vh 10%;
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-end;
}
body#home main {
    padding-bottom: 1em;
    flex-direction: column;
}
body#home main > article {
}
main > header {
    width: 20%;
    margin-right: auto;
    margin-bottom: 2em;
}
body#home main > header {
    /*
border-bottom: 3px solid var(--cHero1);
*/
}

main > footer {
    /* width: 135px; */
    width: 100%;
    margin-top: 10vh;
    margin-bottom: 1em;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-between;
}

.footerLeft {
    width: 135px;
    display: block;
}

.footerRight {
    width: 30%;
    justify-content: space-between;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

main > article {
    width: 100%;
    padding-bottom: 3em;
    padding-top: 3em;
}
main > article:first-of-type {
    width: 50%;
    padding-top: 0;
    padding-bottom: 2em;
}
article.text-content {
    /* border-bottom: 1px solid var(--cHero1);*/
    margin-bottom: 0em;
}

/* section layout */
section {
    margin-top: 1em;
    margin-bottom: 1em;
}
main > article:first-of-type section {
    margin-top: 0;
    margin-bottom: 0;
}
article.col2,
article.col3,
article.col4 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
article.col2 section {
    width: 48%;
}
article.col3 section {
    width: 29%;
}
article.col4 section {
    width: 20%;
}
article > h1,
article > h2,
article > h3,
article > h4 {
    width: 90%;
    margin-top: 0em;
}

article.profiles-grid section {
    margin-bottom: 4em;
}

article.profiles-grid section {
    text-align: center;
}

article.profiles-grid section picture img {
    border-radius: 50%;
}

article.profiles-grid section * {
    margin: 0.2em auto;
}

article.profiles-grid section picture {
    width: 80%;
    margin-bottom: 3em;
    margin-top: 1em;
}

@media screen and (max-width: 600px) {
    article.col2 section,
    article.col3 section,
    article.col4 section {
        width: 100%;
    }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
    article.col2 section,
    article.col3 section,
    article.col4 section {
        width: 45%;
    }
}

/* navigation */
header > nav {
    display: flex;
    flex-wrap: wrap;
}
header > nav {
    margin-top: 0.5em;
    line-height: 1.4em;
}
header nav a {
    margin-right: 15px;
    white-space: pre;
}
/*
header nav a:not(:first-of-type):before {
    content:"  .  ";
    white-space:pre;
}
*/
header > nav a:not(.logo-small) {
    color: var(--cHero1);
    text-decoration: none;
}
body.nightTheme header > nav a:not(.logo-small) {
    color: var(--cHero3);
}

/* language */
header > .langNav {
    display: flex;
    flex-wrap: wrap;
}
header > .langNav {
    margin-top: 0.5em;
    line-height: 1.4em;
}
header .langNav a {
    margin-right: 15px;
    white-space: pre;
    cursor: pointer;
}

header > .langNav a {
    color: var(--cHero1);
    text-decoration: none;
}

header .langNav a.activeLang:hover {
    opacity: 1;
    pointer-events: none;
}

body.nightTheme header > .langNav a {
    color: var(--cHero3);
}

.activeLang {
    font-weight: bold;
}

body footer a {
    color: var(--cHero1);
    text-decoration: none;
}
body.nightTheme footer a {
    color: var(--cHero3);
    text-decoration: none;
}

footer .footerRight a {
    font-weight: bold;
}

article a,
article a:visited {
    color: var(--cHero2);
    text-decoration: underline;
}

@media (any-pointer: fine) {
    a:hover:not(.activeLink) {
        opacity: 0.7;
        text-decoration: none;
    }
}
@supports not (any-pointer: fine) {
    a:hover:not(.activeLink) {
        opacity: 0.7;
        text-decoration: none;
    }
}

body#home #dna {
    position: fixed;
    bottom: 0;
    left: auto;
    right: 10%;
    transition: opacity 0.5s ease;
}

body#home #dna.hidden {
    opacity: 0;
}

/* logo */
.logo-small svg {
    width: 60%;
    height: auto;
    margin-top: 3em;
    margin-bottom: 4em;
}

footer .logo-small svg {
    width: 135px;
    height: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

@media screen and (min-width: 500px) and (max-width: 600px) {
    .logo-small svg {
        width: 40%;
        margin-bottom: 2em;
    }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
    .logo-small svg {
        width: 35%;
        margin-bottom: 3em;
    }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
    .logo-small svg {
        width: 25%;
        margin-bottom: 3em;
    }
}

.logo-small svg {
    transition: lower 5s linear;
}

@keyframes lower {
    0%,
    12%,
    18.999%,
    23%,
    31.999%,
    37%,
    44.999%,
    46%,
    49.999%,
    51%,
    58.999%,
    61%,
    68.999%,
    71%,
    85.999%,
    96%,
    100% {
        opacity: 1;
    }

    19%,
    22.99%,
    32%,
    36.999%,
    45%,
    45.999%,
    50%,
    50.99%,
    59%,
    60.999%,
    69%,
    70.999%,
    86%,
    95.999% {
        opacity: 0.9;
    }

    50.1%,
    60% {
        opacity: 0.4;
    }
}

/* CSS3 gradients etc */
div#bggradient {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(
        to bottom,
        rgba(var(--colorGradient), 1),
        rgba(var(--colorGradient), 1),
        rgba(var(--colorGradient), 0.9),
        rgba(var(--colorGradient), 0.7),
        rgba(var(--colorGradient), 0.5)
    );
}

body#home div#bggradient {
    height: 60vh;
    background: linear-gradient(
        to bottom,
        rgba(var(--colorGradient), 0.9),
        rgba(var(--colorGradient), 0.8),
        rgba(var(--colorGradient), 0.6),
        rgba(var(--colorGradient), 0.3),
        rgba(var(--colorGradient), 0)
    );
}

/* mapbox bg map */
div#map {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.6;
}

body#home div#map {
    opacity: 0.6;
}

/* video */
.pbVideo {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
}
.pbVideo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* iconography */
i.icon {
    margin-right: 0.5em;
    vertical-align: middle;
    font-size: 1.8em;
}
a.app-download {
    height: 50px;
    display: inline-block;
    text-decoration: none;
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}
a.app-download picture,
a.app-download img {
    padding: 0;
    margin: 0;
    height: 50px;
    width: auto;
}
.app-download.apple,
.app-download.apple picture,
.app-download.apple img {
    height: 45px;
    margin-top: -2px;
}
a.cta.icon-only {
    text-decoration: none;
    color: var(--cHero3);
    background-color: rgba(22, 22, 22, 0.7);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
a.cta.icon-only i.icon {
    margin: 0;
    font-size: 1.4em;
}
li i.icon {
}

/* lists */
ul {
    list-style-type: disc;
    padding: 1;
    margin-bottom: 0;
}
li {
    text-indent: 0;
    padding-left: 0;
}

/* feed styling */
#feed {
    max-width: 90%;
}
#feed ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 1.5em;
}

#feed ul li {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    line-height: 1.2em;
}

#feed ul li a {
    flex: 1;
}
#feed ul li a:last-child {
    flex: 6;
    margin-left: 1em;
}

body a.btn {
    border:1px solid #000000;
    padding:10px 10px;
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 28px;
    display: inline-block;
}

body.nightTheme a.btn {
    color: #ffffff;
    border-color: #ffffff;
}

/* tab arrows css3 */
.tabbutton {
    background-color: rgba(222, 222, 222, 1);
    position: relative;
    height: 60px;
    line-height: 60px;
    text-align: left;
    padding: 0;
    display: block;
    padding-left: 15px;
    color: #222222;
    margin-bottom: 1em;
}
.tabbutton:before {
    content: '';
    position: absolute;
    right: -30px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 30px solid rgba(222, 222, 222, 1);
    border-top: 0px solid transparent;
    border-bottom: 60px solid transparent;
}
.tabbutton:first-child {
    background-color: rgba(239, 239, 239, 1);
    margin-bottom: 0;
    margin-top: 1em;
}
.tabbutton:first-child:before {
    border-top: 60px solid transparent;
    border-bottom: 0px solid transparent;
    border-left-color: rgba(239, 239, 239, 1);
}
div.arrows {
    position: relative;
}
div.arrows i.icon {
    background-color: #111111;
    color: #ffffff;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    margin: 0;
    position: absolute;
    right: 20px;
    padding: 15px;
    top: 30px;
    font-size: 30px;
}
body.nightTheme .tabbutton {
    background-color: rgba(222, 222, 222, 0.2);
    color: var(--cHero3);
}
body.nightTheme .tabbutton:before {
    border-left: 30px solid rgba(222, 222, 222, 0.2);
}
body.nightTheme .tabbutton:first-child {
    background-color: rgba(239, 239, 239, 0.3);
    color: var(--cHero3);
}
body.nightTheme .tabbutton:first-child:before {
    border-left-color: rgba(239, 239, 239, 0.3);
}

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.useCaseDescription {
  display: block;
  width: 100%;
  height: auto;
  color: var(--cHero1);
  font-size: 20px;
  text-align: left;
}

body.nightTheme .useCaseDescription {
    display: block;
    width: 100%;
    height: auto;
    color: var(--cHero3);
    font-size: 20px;
    text-align: left;
}

.useCaseTitle {
  margin: 20px 0px;
}

.useCaseSmallText {
    margin: 20px 0px;
}

div.useCaseButton a {
    margin: 20px 0px;
    text-decoration: none;
    color: var(--cHero1);
    font-size: 13px;
}

body.nightTheme .useCaseButton a {
    margin: 20px 0px;
    text-decoration: none;
    color: var(--cHero3);
    font-size: 13px;
    opacity: 0.5;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .8s ease;
  background-color: #000000;
}

.container:hover .overlay {
  opacity: 0.8;
}

.text {
  color: white;
  font-size: 20px;
  position:absolute;
  top: 80%;
  left: 38%;
  transform: translate(-50%, -50%);
  text-align: left;
}



/* logo-grid */
section.logo-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-top: 2em;
}
section.logo-grid a {
    display: flex;
    align-items: center;
    width: 90px;
    height: 80px;
    flex: 0 1 auto;
    background-color: #ffffff;
    padding: 10px 5px;
    border-radius: 2px;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    margin: 0.5em 0.5em;
    overflow: hidden;
}
body.nightTheme section.logo-grid a {
    opacity: 0.8;
}
body.nightTheme section.logo-grid a:hover {
    opacity: 1;
}

section.logo-grid a picture,
section.logo-grid a img {
    margin: 0;
    padding: 0;
}

@media (any-pointer: fine) {
    section.logo-grid a:hover {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
        opacity: 1;
    }
}
@supports not (any-pointer: fine) {
    section.logo-grid a:hover {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
        opacity: 1;
    }
}
@supports (object-fit: contain) {
    section.logo-grid a {
        min-height: 80px;
        min-width: 90px;
        overflow: auto;
    }
    section.logo-grid a picture,
    section.logo-grid a img {
        object-fit: contain;
    }
    section.logo-grid a picture,
    section.logo-grid a img {
        max-width: 90px;
        max-height: 70px;
    }
}

/* forms */

label {
    display: block;
    margin-top: 1.5em;
}
label.checkbox {
    display: inline-block;
    margin-right: 0.7em;
    margin-bottom: 0.7em;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 0.7em 1em;
    border-radius: 0.25em;
}
textarea {
    min-height: 6em;
}
input,
textarea {
    margin: 1em 0 1em 0;
    padding: 0.5em 0.7em;
    display: block;
    width: 90%;
}

input[type='text'],
input[type='email'],
textarea {
    opacity: 0.8;
}

input[type='checkbox'],
input[type='reset'],
input[type='submit'] {
    display: inline-block;
    margin: 0 0.2em;
    width: auto;
}
input[type='file'] {
    width: 80%;
    margin-top: 0;
    padding: 0;
}
input[type='reset'],
input[type='submit'] {
    border: 1px solid #ffffff;
    border-radius: 0.5em;
    padding: 0.7em 1em;
    min-width: 100px;
}
input[type='submit'] {
    background-color: #111111;
    color: #ffffff;
}
input[type='submit']:hover {
    cursor: pointer;
}

/* Who we are section */
#we-are {
    max-height: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in 1s, max-height 1s ease-in;
}

#we-are.visible {
    max-height: 160px;
    opacity: 1;
}

.we-are-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.we-are-wrapper * {
    font-family: var(--heroTypeface);
}

.we-are-title {
    font-size: 130px;
    font-weight: 700;
    line-height: 0.9;
}

.we-are-brackets {
    height: 300px;
    margin-left: 60px;
    margin-right: 60px;
    width: 80px;
}

.we-are-what-wrapper {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.we-are-what-text {
    font-size: 36px;
    padding-bottom: 16px;
    font-weight: bold;
}

.we-are-what-text.slim {
    font-weight: 100;
    margin-right: 18px;
    text-align: left;
}

.we-are-what-text.highlight {
    color: #ff0000;
}

.we-are-text-large {
    font-size: 48px;
    font-weight: 100;
    width: 100%;
}

/* Contact form defaults */
#contact #inputContainer #loadingText,
#contact #inputContainer #errorText,
#contact #inputContainer #doneText {
    display: none;
}

/* Contact form loading */
#contact #inputContainer.loading #loadingText {
    display: block;
}
#contact #inputContainer.loading #submit,
#contact #inputContainer.loading #errorText,
#contact #inputContainer.loading #doneText {
    display: none;
}

/* Contact form error */
#contact #inputContainer.error #errorText {
    display: block;
}
#contact #inputContainer.error #submit,
#contact #inputContainer.error #loadingText,
#contact #inputContainer.error #doneText {
    display: none;
}

/* Contact form done */
#contact #inputContainer.done #doneText {
    display: block;
}
#contact #inputContainer.done #submit,
#contact #inputContainer.done #loadingText,
#contact #inputContainer.done #errorText {
    display: none;
}

@media screen and (max-width: 1000px) {
    .we-are-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    .we-are-brackets {
        display: none;
    }

    .we-are-what-wrapper {
        align-self: stretch;
        justify-content: space-between;
    }

    .we-are-what-text {
        text-align: right;
    }

    .we-are-text-large {
        font-size: 36px;
    }
}

@media screen and (max-width: 700px) {
    .we-are-title {
        font-size: 100px;
    }

    .we-are-what-text {
        font-size: 28px;
    }

    .we-are-text-large {
        font-size: 24px;
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .we-are-title {
        font-size: 80px;
    }

    .we-are-what-text {
        font-size: 20px;
    }
}

@media screen and (min-width: 1000px) {
    div .formSubmit {
        display: flex;
        flex-direction: row-reverse;
    }

    div.formSubmit p {
        padding-right: 15%;
    }
}

@media screen and (max-width: 1000px) {
    main {
        width: 85%;
        flex-direction: column;
        padding: 4em 7.5% 4em 7.5%;
    }

    main > header {
        width: 100%;
        border-bottom: 3px solid var(--testNight);
        margin-bottom: 4em;
    }

    main > footer {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
    }

    .footerRight {
        width: 100%;
        margin-top: 1em;
    }

    main > article:first-of-type {
        width: 100%;
    }

    body#home div#map {
        opacity: 0.3;
    }

    body#home #dna {
        position: relative;
        bottom: 0;
        left: 7.5%;
        right: auto;
        margin-top: 8em;
    }

    body#home #dna svg {
        width: 55px;
        height: auto;
    }

    #feed {
        max-width: 100%;
    }

    #feed ul li {
        flex-direction: column;
        margin-bottom: 1em;
    }

    #feed ul li a:last-child {
        flex: auto;
        margin-left: 0;
        margin-top: 5px;
    }

    #feed p {
        border-top: 1px solid var(--testNight);
        max-width: 100%;
        padding-top: 1em;
        margin-top: 5em;
    }

    h1,
    h2 {
        font-size: 2.8em;
        font-weight: 300;
    }

    hr,
    hr.minor {
        width: 100%;
        border: none;
        border-bottom: 1px solid var(--testNight);
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1300px) {
    main > header {
        width: 35%;
        margin-right: auto;
        margin-bottom: 2em;
    }
    
    .footerRight {
        width: 35%;
    }
}
